apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: {{ cfstack_output }}
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %} 
      groups:
        - system:bootstrappers
        - system:nodes